p.MainContainer {

    justify-content: center;
    flex:1;
    margin: 7px;


}

p.rowViewContainer {
    font-size: 17px;
    padding: 10px;
}

p.TextInputStyleClass {

    text-align: center;
    height: 40px;
    border-width: 1px;
    border-color: #ff0000;
    border-radius: 7px ;
    background-color : #FFFFFF;

}

p.mainStyle {
    flex: 1;
    align-items: center;
    justify-content: center;

}

p.backgroundImage {
    flex: 1;
    align-self: stretch;
    align-items: center;
    justify-content: center;


}

/*p.button {
borderRadius: 10,  //changes the rounded edges
                     padding: 10, //changes height/width around text of button
                                                   marginBottom: 5, //marin under button
                                                                      shadowColor: #303838,
shadowOffset: { width: 0, height: 5 }, // shadow stylings unessary since opacity is set to 0
shadowRadius: 10,
shadowOpacity: 0, // makes shadow invisible.. mainly affects iphone not androic
},*/

p.text {
    text-align: center;
    color: white;


}

p.bigText {
    text-align: center;
    color: white;
    font-size: 32px;

}

p.midText {
    text-align: center;
    color: white;
    font-size: 22px;

}

p.blackText {
    text-align: center;
    color: black;
    font-size: 20px;
}

p.bigTextWhite {
    text-align: center;
    color: white;
    font-size: 32px;

}

p.midTextWhite {
    text-align: center;
    color: white;
    font-size: 20px;

}

/*p.bottomBanner {
    position: "absolute";
    bottom: 0;
},*/

p.container {
    flex: 1;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 35%;
    left: 38%;
    z-index: 100;
    background-color: #fff;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000;
}




